---
title: "Python 기초문법"
date: '2022-06-27'
---

- Hello world

In [48]:
print("Hello world")

Hello world

## 주석처리
- 1줄 주석, 여러 줄 주석 처리
  + 함수 또는 클래스를 문서화할 때 주로 사용

- 프로젝트 할 때
  + 전체 공정 100이라 가정하면
  + 코드 / 코드 문서화 / 한글작업 문서화 
  
      -> 코드 문서화가 제일 어려움

In [49]:
# print() 함수 사용
print("1줄 주석")

"""
여러 줄 주석
쌍따옴표 3개를 입력해주세요
앞뒤로
"""

print("여러줄 주석")

1줄 주석
여러줄 주석

## 변수(scalar)
- 자료형
- Scalar형, Non-Scalar형

### 수치형 자료형
- int, float

In [50]:
num_int = 1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [51]:
num_float = 0.1
print(num_float)
print(type(num_float))

0.1
<class 'float'>

### Bool형
- True, False(앞 글자만 대문자)
- R: TRUE, FALSE(모두 대문자)

In [52]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

## None 자료형
- Null값, 값이 정해지지 않은 자료형

In [53]:
none_x = None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

## 사칙연산
- 정수형 사칙연산, 실수형 사칙연산
- 결과값의 자료형

### 정수형 사칙연산
+, -, *, /

In [54]:
a = 3
b = 2
print('a + b = ', a+b)
print('a - b = ', a-b)
print('a * b = ', a*b)
print('a / b = ', a/b)
print(type(a + b))
print(type(a - b))
print(type(a * b))
print(type(a / b))

a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

### 실수형 사칙연산

In [55]:
a = 1.5
b = 2.5
print('a + b = ', a+b)
print('a - b = ', a-b)
print('a * b = ', a*b)
print('a / b = ', a/b)
print(type(a + b))
print(type(a - b))
print(type(a * b))
print(type(a / b))

a + b =  4.0
a - b =  -1.0
a * b =  3.75
a / b =  0.6
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

## 논리형 연산자
- Bool형
- True와 False 값으로 정의
- 조건식
  + 교집합(=and), 합집합(=or)

In [56]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [57]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## 비교 연산자
- 비교 연산자는 부등호를 의미

In [58]:
print(4 > 3)   # 참 = True
print(4 < 3)   # 거짓 = False

print(4 > 3 and 4 < 3)   # False
print(4 > 3 or 4 < 3)    # True

True
False
False
True

## 논리형 & 비교 연산자 응용
- input()
- 형 변환
  + 데이터 타입을 바꾸는 것

In [258]:
var = int(input("숫자를 입력하세요..!"))
print(var)
print(type(var))   # str = 문자

숫자를 입력하세요..!"g"
"g"
<class 'str'>

In [ ]:
num1 = int(input("첫번째 숫자를 입력하세요..!"))
num2 = int(input("두번째 숫자를 입력하세요..!"))
num3 = int(input("세번째 숫자를 입력하세요..!"))
num4 = int(input("네번째 숫자를 입력하세요..!"))

In [67]:
var1 = num1 >= num2
var2 = num3 < num4

In [297]:
print(var1 and var2)
print(var1 or var2)

# 1 True
# 2 False

False
True

## Stirng
- Non Scalar

In [73]:
print('Hello World')
print("Hello World")
# 어떤 것을 해도 상관 없지만 앞뒤가 같으면 됨

print("'Hello World'")   # 따옴표를 보여주고 싶을 경우 예시
print('"Hello World"')

Hello World
Hello World
'Hello World'
"Hello World"

## String Operators
- 문자열 연산자
- +, * 가능

In [79]:
str1 = "Hello"
str2 = "World"
print(str1 + str2)

str3 = "Hello"
str4 = " World"
print(str3 + str4)

HelloWorld
Hello World

In [83]:
greet = str3 + str4
print(greet * 3)

Hello WorldHello WorldHello World

## 조건문 if
- 프로그래밍에서 조건을 판단하여 해당 조건에 맞는 상황을 수행

In [248]:
a = 19
b = 95
if a < b :
  print("a is ace")    # if 다음 문장은 탭키나 스페이스바 4번을 눌러 반드시 들여쓰기를 해야 함

a is ace

In [249]:
a = int(input("숫자를 입력하시오"))
if a > 5 :
  print("a는 5보다 크다")
elif a > 0 :
  print("a는 0보다 크다")
elif a > -3 : 
  print ("a는 -3보다 크다")
else :                              # else 에는 조건을 붙이지 않음
  print ("a는 아주 작다")

숫자를 입력하시오10
a는 5보다 크다

## 반복문 for
- 실행해야 할 문장을 여러 번 반복

In [ ]:
for a in [1,2,3]:
  print(a)    # for 다음 문장 역시 들여쓰기를 해야 함

for (a,b) in [(1,9), (9,5), (0,8), (1,8)] :
  print(a + b)

In [280]:
# Hello World 100000번 출력
for o in range(5) :         # for 변수 in range(반복횟수) :
  # print(o+1)                # 파이썬은 0부터 시작이기 때문에 1을 더해서 1부터 시작하도록 만들어줌
  print(o+1, "Hello World")    # print(변수+1, 값) -> 인덱스와 값이 같이 출력

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World

- for loop if 조건문 사용
- 문자열, 리스트 등 --> 시퀀스 데이터(반복문을 쓸 수 있음)

In [276]:
a = "Turner"
# r이 시작하면 반복문을 멈추세요
for u in a : 
  print(u)            # print() 위치에 따라 출력값을 조정할 수 있음
  if u == "r" :
    break             # 들여쓰기 라인을 잘 맞춰야 함

T
u
r

- enumerate()

In [279]:
alphabets = ['a', 'b', 'c']
for index, value in enumerate(alphabets) :
  print(index, value)

0 a
1 b
2 c

## 리스트 컴프리헨션(list comprehension)
- 반복문을 한 줄에 처리할 수 있음

In [289]:
fruits = ['apple', 'kiwi', 'banana']
newlist = []

# 알파벳 a가 있는 과일만 추출 후, 새로운 리스트에 담기
for fruit in fruits :
  # print(fruit)
  if "a" in fruit : 
    newlist.append(fruit)
print(newlist)

['apple', 'banana']

In [296]:
newlist = [fruit for fruit in fruits if "a" in fruit]
print(newlist)

['apple', 'banana']

## 반복문 while
- 조건문이 참인 동안에 while문 아래의 문장이 반복해서 수행
- for 반복문과는 차이가 있음

In [ ]:
lm = 0
while lm < 28 :
  lm = lm+2
  print(lm)

hsg = 19
while hsg < 95 :
  hsg = hsg+8
  print(hsg)

## def
- 함수를 만들 때 사용하는 예약어
- 예약어 : 프로그래밍 언어에서 이미 문법적 용도로 사용하고 있는 단어

In [106]:
def plus(a, b) :
  return a+b

plus(5,4)

def hsg(a, b) :
  return a*b-3

hsg(9,4)

## 한 코드에 하나의 def 예약어만 출력 가능

33

In [103]:
def plus(a, b) :
  return a+b

plus(5,4)

9

## 문자열 인덱싱
- 인덱싱은 0번째부터 시작

In [ ]:
greeting = "Hello Kaggle"
i = int(input("숫자를 입력하세요!"))
print(greeting[i])

## 슬라이싱

In [146]:
greeting = "Hello Kaggle"
# print(greeting[시작인덱스:끝인덱스-1])
print(greeting[0:8])
print(greeting[:8])
print(greeting[6:])
# print(greeting[시작인덱스:끝인덱스-1:건너뛸 숫자])
print(greeting[0:10:2])
print(greeting[0:12:3])
print(greeting[0:11:4])

Hello Ka
Hello Ka
Kaggle
HloKg
HlKg
Hog

In [144]:
alphabet_letter = "Hong seung gi"
print(alphabet_letter[0:13:2])

Hn en i

## 리스트
- []로 표시
- [item1, item2, item3]
- 파이썬은 모든 프로그램이 리스트에서 출발 -> ★ 가장 중요 ★

In [186]:
a = [] # 빈 리스트
a_func = list() # 빈 리스트 생성
b = [1] # 숫자 요소
c = ['apple'] # 문자 요소
d = [1,2, ['apple'], 'apple']
e = [19, 95, 8, 18, 'Happy', "Hong's", "birthday"]
print(e)

[19, 95, 8, 18, 'Happy', "Hong's", 'birthday']

## 리스트 값 수정하기

In [150]:
a = ["Hong", "seung", "zzang"]
a[2] = "gi"
print(a)

['Hong', 'seung', 'gi']

## 리스트 값 추가하기
- 메서드 사용

In [ ]:
a = ["Hong", "seung", "zzang"]
a.append("Woooooooo")   # 변수 입력 할 필요 없이 메서드만 입력하면 됨

print(a)

a.extend(["gg, gl"])
print(a)

a.append(["gg, gl"])    # append로 여러 개 입력하면 대괄호까지 입력됨
print(a)

- insert(인덱스 위치, 값)

In [160]:
a = ["Hong", "seung", "zzang"]
a.insert(2, "gi")
print(a)

['Hong', 'seung', 'gi', 'zzang']

## 리스트 값 삭제하기
- remove(), del

In [164]:
a = [1, 2, 3, 1, 3, 2]
a.remove(1)    # 해당되는 처음 값 삭제

print(a)

a = [1, 2, 3, 1, 3, 2]
a.remove(3)    


print(a)

[2, 3, 1, 3, 2]
[1, 2, 1, 3, 2]

- del

In [170]:
a = [2, 3, 5, 8, 14, 16, 19]
del a[1]    # 인덱스에 해당하는 값 삭제

print(a)

del a[0:2]   # 인덱스 범위에 해당하는 값 삭제

print(a)

[2, 5, 8, 14, 16, 19]
[8, 14, 16, 19]

- pop()

In [192]:
a = [1, 2, 3, 4, 5]
adp = a.pop(1)
print(a)
print(adp)
x = a.pop()    # 마지막 리스트 값
print(a)
print(x)

[1, 2, 3, 4]
5

- clear() : 리스트 내 모든 값 삭제
- index() : 값의 위치를 불러옴

In [205]:
a = [1, 3, 5, 7, 9]
b = ["Hong", "Kim", "Lee", "Jeong", "Lee"]

print(a.index(3))
print(b.index("Lee"))

1
2

- sort : 리스트의 정렬

In [207]:
a = [1,5,4,2,7,8,6]
a.sort(reverse = False)
print(a)

help(list.sort)
# help(list.index)
# help(list.clear)

[1, 2, 4, 5, 6, 7, 8]
Help on method_descriptor:

clear(self, /)
    Remove all items from list.

## 문자열, 리스트
- 내장함수를 익히는 것이 포인트

## 튜플
- 면접질문 : 리스트와 튜플의 차이가 무엇인가?
- 리스트 : []
  + 수정, 삭제, 추가
- 튜플 : ()
  + 다 안됨

In [298]:
tuple1 = (0)            # 콤마가 없어서 int 형태
tuple2 = (0,)           # 콤마가 있어야 tuple 형태가 됨
tuple3 = 0, 1, 2

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

print(tuple1)
print(tuple2)
print(tuple3)

<class 'int'>
<class 'tuple'>
<class 'tuple'>
0
(0,)
(0, 1, 2)

In [299]:
a = (0, 1, 2, 3, 'a')
del a[4]

TypeError: ignored

In [300]:
a = (0, 1, 2, 3, 'a')
a[4] = 4

print(a)

TypeError: ignored

In [ ]:
a = (2, 4, 6, 8, 10)

print(a.index(6))

- 문자열 연산자
- +, *

In [301]:
obp = (0.348, 0.288, 0.256)
slg = (0.556, 0.376, 0.292)
print(obp + slg)

(0.348, 0.288, 0.256, 0.556, 0.376, 0.292)

## 딕셔너리
- key(키)와 value(값)으로 구성
- 슬라이싱! = (값의 순서가 존재해야 함)
- 순서라는 개념 자체가 존재하지 않음

In [302]:
temp_dict = {
    'name' : ['김현수', '이정후'],     # 복수일 경우 []로 묶어줘야 함
    'avg' : [0.344, 0.367],
    'war' : [3.42, 5.16]
}

print(temp_dict['name'])
print(temp_dict['avg'])
print(temp_dict['war'])

['김현수', '이정후']
[0.344, 0.367]
[3.42, 5.16]

- keys() 값만 출력

In [303]:
temp_dict.keys()

dict_keys(['name', 'avg', 'war'])

In [304]:
list(temp_dict.keys())     # 리스트로 만들어주기

['name', 'avg', 'war']

- values() 값만 출력

In [305]:
temp_dict.values()

dict_values([['김현수', '이정후'], [0.344, 0.367], [3.42, 5.16]])

In [306]:
list(temp_dict.values())

[['김현수', '이정후'], [0.344, 0.367], [3.42, 5.16]]

- items() -> key-value 쌍으로 list와 tuple 형태로 출력

In [308]:
temp_dict.items()

dict_items([('name', ['김현수', '이정후']), ('avg', [0.344, 0.367]), ('war', [3.42, 5.16])])

# 점프 투 파이썬 보충
## 사칙연산
- 제곱을 나타내는 연산자 **
- 나눗셈의 나머지를 반환하는 연산자 %
- 나눗셈의 몫을 반환하는 연산자 //

In [315]:
a = 7
b = 3
print(a ** b)
print(a % b)
print(a // b)

343
1
2

## 문자열 자료형
- 문자열을 만드는 방법 추가적인 2가지
  - 큰따옴표 3개를 연속써서 양쪽 둘러싸기
  - 작은따옴표 3개를 연속써서 양쪽 둘러싸기

### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때
  - 문자열 안에 작은따옴표 포함시키기

In [317]:
food = "python's favorite food is perl"
print(food)

python's favorite food is perl

In [319]:
food = 'python's favorite food is perl'
print(food)

SyntaxError: ignored

- 문자열에 큰따옴표 포함시키기(인용)

In [331]:
BlockB = '"very very good." they says.'
print(BlockB)

"very very good." they says.

In [336]:
BlockB = "\"very very good.\" they says."
print(BlockB)
food = 'python\'s favorite food is perl'
print(food)

"very very good." they says.
python's favorite food is perl